* {
	margin: 0;
	padding: 0;

}

body {
	background:#18172C;
	font-size: 17px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.6;
	color: #1e3948;
	padding: 2px;
}
:root {
	--white: #e8e9ed;
	--gray: #434257;
	--blue: #18172c;
	--green: #00d084;
}
/*---------keyboard----------*/
#keyboard {
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width: 794px;
	height: 315px;
	background: #d5d9dc repeat-x;
	-moz-border-radius-topleft: 7px 21px;
	-moz-border-radius-topright: 7px 21px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 7px 21px;
	border-top-right-radius: 7px 21px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 50px 0 0 10px;
	-webkit-box-shadow: inset 0 0 8px #bbb,
	0 1px 0 #aaa,
	0 4px 0 #bbb,
	0 10px 30px #111;
	-moz-box-shadow: inset 0 0 8px #bbb,
	0 1px 0 #aaa,
	0 4px 0 #bbb,
	0 10px 30px #111;
	box-shadow: inset 0 0 8px #bbb,
	0 1px 0 #aaa,
	0 4px 0 #bbb,
	0 10px 30px #111;
	display: block;
}

ul {
	list-style-type: none;
	width: 784px;
	margin: 0 auto;
	padding: 0;
}

li {
	float: left;
}

.key {
	display: flex;
	color: #aaa;
	font: bold 9pt arial;
	text-decoration: none;
	text-align: center;
	width: 44px;
	height: 41px;
	margin: 5px;
	background: #222;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #222;
	-webkit-box-shadow: inset 0 0 25px #333,
	0 1px 0 #000,
	0 2px 0 #222,
	0 2px 3px #333;
	-moz-box-shadow: inset 0 0 25px #333,
	0 1px 0 #000,
	0 2px 0 #222,
	0 2px 3px #333;
	box-shadow: inset 0 0 25px #333,
	0 1px 0 #000,
	0 2px 0 #222,
	0 2px 3px #333;
	text-shadow: 0 -1px 0 #000;
  justify-content:center ;
	align-items: center;
}


.key:active, .active {
	color: #888;
	background: #222;
	margin: 7px 5px 3px;
	-webkit-box-shadow: inset 0 0 25px greenyellow,
	0 0 3px #333;
	-moz-box-shadow: inset 0 0 25px greenyellow,
	0 0 3px #333;
	box-shadow: inset 0 0 25px greenyellow,
	0 0 3px #333;
	border-top: 1px solid #000;
}

.fn .spanKey{
	display: block;
	margin: 14px 5px 0 0;
	text-align: right;
	font: bold 6pt arial;
	text-transform: uppercase;
}

.fn {
	height: 26px;
	width: 46px;
}

#Backspace {
	width: 72px;
}

#Tab {
	width: 72px;
}

#CapsLock {
	width: 85px;
}

#Enter {
	width: 85px;
}

#ShiftLeft, #ShiftRight {
	width: 112px;
}

#ControlLeft, #ControlRight {
	width: 56px;
}

#AltLeft, #AltRight {
	width: 67px;
}

#Space {
	width: 210px;
}

/*----textarea----------*/

#textarea {
	width: 794px;
	height: 150px;
	background: #d5d9dc repeat-x;
	margin: 50px auto;
	display: block;
	border: 2px;
	outline: none;
	box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #111;
	border-radius: 10px;
	padding: 3px;
}
#textarea{
	display: none;
}

#textarea:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

/*------------fall-letter----------------------*/
.fall-letter {
	z-index: 100;
	position: absolute;
	display: block;
	font-family: "Arial Black", "Arial", sans-serif;
	font-size:5vh ;
	width: 5vh;
	height: 5vh;
	color: gold;
  left: 50%;
	/*transition: all 3s ease-in;*/
}

/* --------------tips---------------------- */

.drop-btn {
	background-color: #d5d9dc;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 1px;
	box-shadow: inset 0 0 4px #bbb,
	0 1px 0 #aaa,
	0 1px 0 #bbb,
	0 2px 10px #111;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.switches{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.switches:hover{
	background-color: #cccccc;
}
.start-game-btn:active {
	box-shadow: inset 0 0 0 1px #18172C,inset 0 2px 10px #18172C;
}

.start-game-btn{
	transition-duration: 0.2s;
}

label {
	cursor: pointer;
}

[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

.switches label {
	display: flex;
	margin-left: 20px;
}

.switches span:last-child {
	position: relative;
	width: 50px;
	height: 26px;
	border-radius: 15px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	background: var(--gray);
	transition: all 0.3s;
}

.switches span:last-child::before,
.switches span:last-child::after {
	content: "";
	position: absolute;
}

.switches span:last-child::before {
	left: 1px;
	top: 1px;
	width: 24px;
	height: 24px;
	background: var(--white);
	border-radius: 50%;
	z-index: 1;
	transition: transform 0.3s;
}

.switches span:last-child::after {
	top: 50%;
	right: 8px;
	width: 12px;
	height: 12px;
	transform: translateY(-50%);
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
	background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
	background: var(--green);
}

.switches [type="checkbox"]:checked + label span:last-child::before {
	transform: translateX(24px);
}

.switches [type="checkbox"]:checked + label span:last-child::after {
	width: 14px;
	height: 14px;
	left: 8px;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
	background-size: 14px 14px;
}


